extend ../_layout
block vars
    - title = 'New American Landscape'


block content
    .page-info
        h1 New American Landscape
        p A survey of contemporary social and cultural landscapes. The images examine American life, environments, and the individuals that exist in those spaces. In color and composition, the works explore image-making and visual metaphors. <i>New American Landscape</i> documents realism through tableau-like cinematic images that inhabit the gap between the simulated and real space.
    
    .page-content

block localJS
    script.
        var medImgs = [9, 8, 7, 6, 5, 4, 1, 2, 3];
        
        var content = $('.page-content');
        
        $.each(medImgs, function(index, img) {
            content.append('<div class="art-thumb"><img src="/res/img/art/newAmericanLandscape/lg/nal-'+img+'.jpg" width="auto" height="700px"></div>');
        });
        
