extends ./_pug/mainLayout.pug

block vars
    - title = 'Home'


block content
    .art-cover-container
        a(href=projects['beached'].href)
            img.art-cover(src="/img/front_page.jpg" width="100%" height="auto")
