extends ./_pug/mainLayout.pug

block vars
    - title = 'Home'


block content
    .art-cover-container
        img.art-cover(src="/img/covers/california/california_2.jpg" width="100%" height="auto")

block localJS
    script.
        var FADE_TIME = 1000;
        var CHANGE_TIME = 10000;
        var coverContainer = $('.art-cover-container');
        var covers = [
            'california/california_2',
            'for_a_very_brief_moment/red-lot',
            'year_2000/year_2000_2',
            'new_american_landscape/new_american_landscape_6',
            'for_a_very_brief_moment/bamboo-house'
        ];
        
        var i = 1;
        function changePic(num) {
            var oldPic = $('.art-cover');
            var newPic = $('<img class="art-cover" src="/img/covers/'+covers[num]+'.jpg" width="100%" height="auto"/>');
            
            newPic.css('opacity', 0);
            oldPic.addClass('art-cover-old');
            oldPic.after(newPic);
            
            newPic.fadeTo(FADE_TIME, 1);
            oldPic.fadeTo(FADE_TIME, 0, function() {
                oldPic.remove();
            });
            
            if (i === covers.length) {
                i = 0;
            }
        }
        
        
        setInterval(function() {
            changePic(i++);
        }, CHANGE_TIME);
