extends ../_pug/mainLayout.pug

block vars
    - title = 'Bio'

block content
    .page-info
        p b. 1993 Gainesville, Florida
        p Sarah Meftah is a visual artist currently living and working in San Francisco, CA.
        .art-bio-container
          img(src=`/img/bio.jpg` height="auto" width="100%")
