extends ../_pug/mainLayout.pug

block vars
    - title = 'Bio'


block content
    .page-info
        h1 Bio
        p b. 1993 Gainesville, Florida
        p Sarah Meftah is a visual artist currently living in San Francisco, CA. In addition, she contributes as a Department Assistant for Academy of Art University. Her current works explore image-making and social documentation. Her individual projects have been exhibited and published at Florida State University’s MOFA and Phyllis Straus Gallery.
