extends ../_pug/mainLayout.pug

block vars
    - title = 'Contact'

block content
    .page-info
        h1 Contact
        p Have a question? Want to request a print?
        p Email me at: sarahmeftah@cca.edu