extends ../_pug/mainLayout.pug

block vars
    - title = 'CV'

block content
    .page-info
        //- PROJECTS
        p
          | #[strong Selected Exhibitions]#[br]
          | 2020#[br]
          | #[em Hidden/Local], Olive Hyde Art Gallery, Fremont, CA#[br]
          | #[em HOW WE HEAR NOW], Architectural Ecologies Lab, San Francisco, CA#[br]
          | #[em Taking Pictures], Black Box Gallery, Portland, OR#[br]
        p
          | 2019#[br]
          | #[em Contemporary Portraiture], LH Horton Gallery, Stockton, CA#[br]
          | #[em Language and Letters], SFWA Gallery, San Francisco, CA#[br]
          | #[em Currents], Chico Art Center, Chico, CA#[br]
        p
          | 2018#[br]
          | #[em Art in Office], California College of the Arts, Faculty and Student Center, San Francisco, CA#[br]
          | #[em Patterns], SFWA Gallery, San Francisco, CA#[br]
          | #[em CCA Annual Staff Exhibition], Hubbell Street Galleries, San Francisco, CA
        p
          | 2015#[br]
          | #[em BFA Thesis Exhibition], FSU Museum of Fine Arts, Tallahassee, FL#[br]
          | #[em Art + Language], Phyllis Straus Gallery, Tallahassee, FL
        p
          | 2014#[br]
          | #[em Intermission], Phyllis Straus Gallery, Tallahassee, FL#[br]
          | #[em Art Awards Exhibition], Carnaghi Arts, Tallahassee, FL#[br]
          | #[em Making Now: Open for Exchange], FSU Museum of Fine Arts, Tallahassee, FL

        //- AWARDS
        p
          | #[strong Awards]#[br]
          | 2015#[br]
          | FSU Academic Leadership Award#[br]
          | Ann Kirn Scholarship Award
        p
          | 2014#[br]
          | Ann Kirn Scholarship Award

        //- EXP
        p
          | #[strong Curatorial Experience]#[br]
          | 2018#[br]
          | #[em Salutations], Carolina Art Space, San Francisco, CA
        p
          | 2017#[br]
          | #[em Here/Now], Carolina Art Space, San Francisco, CA
        p
          | 2016#[br]
          | #[em To Measure a Feeling], Atelier Gallery, San Francisco, CA
        p
          | 2015#[br]
          | #[em And Then There Was], Phyllis Straus Gallery, Tallahassee, FL

        //- EDU
        p
          | #[strong Education]#[br]
          | 2015#[br]
          | BFA, Florida State University


