extend ../_layout
block vars
	- title = 'Bio'

//- block localCSS
//- block localJS


block content
	.page-info
		h1 Bio
		p b. 1993 Gainesville, Florida
		p Sarah Meftah is an artist currently living in Tallahassee, FL. Her photographic works explore photographic image-making. Her current projects survey the relationship between man and the landscape, as well as, fashion as a cultural phenomenon. Her individual projects have been exhibited at FSU's Museum of Fine Arts, Phyllis Straus Gallery, and published in Six Catalog.