extend ../_layout
block vars
	- title = 'Bio'

//- block localCSS
//- block localJS


block content
	h1 Bio
	p b. 1993 Gainesville, Florida
	p.
		Sarah Meftah is an artist currently living in Tallahassee, FL. Her 
		photographic works explore image-making, as well as, survey the relationship 
		between the a man and the landscape, and fashion as cultural phenomenon. 
		Her individual projects have been exhibited at FSU's Museum of Fine Arts, 
		Phyllis Straus Gallery, and published in Six Catalogue.
		