extends ../_pug/projectLayout.pug

block vars
    - title = 'For a Very Brief Moment'


block content
    .page-info
        h1 For a Very Brief Moment
        p This body of work is a series of photographs that explore commonplace moments at a heightened gaze. They are social documentary-based works that address questions of perception, observation, and truth in photography. Given their cinematic characteristics, images could be read as open ended visual shorts. As a collection, <i>For a Very Brief Moment</i> is pure documentation of reality and it's everyday strangeness.
        p <i>For a Very Brief Moment</i> will be available to purchase as a booklet via St. Sebastian Press in May 2016.
    
    .page-content
            

block localJS
    script.
        var medImgs = [
            'bamboo-house',
            'red-lot',
            'hotel-room-with-a-view',
            'woman-with-bag',
            'house-on-beard-street',
            'leon-high-school',
            'man-with-bag',
            'prince-murat-motel',
            'stars-meat-market-no-1',
            'stars-meat-market-no-2',
            'parking-garage',
            'post-office',
            'lamp-and-shade',
            'house-on-the-corner'
        ];
        
        var content = $('.page-content');
        
        $.each(medImgs, function(index, img) {
            content.append('<div class="art-thumb"><img src="/res/img/art/favbm/lg/'+img+'.jpg" width="auto" height="px"></div>');
        });
        
