extends ../_pug/projectLayout.pug

block vars
    - project = projects['for_a_very_brief_moment']
    - title = project.title

block content-page-info
    h1 For a Very Brief Moment
    p This body of work is a series of photographs that explore commonplace moments at a heightened gaze. They are social documentary-based works that address questions of perception, observation, and truth in photography. Given their cinematic characteristics, images could be read as open ended visual shorts. As a collection, #[i For a Very Brief Moment] is pure documentation of reality and it's everyday strangeness.
    p #[i For a Very Brief Moment] will be available to purchase as a booklet via St. Sebastian Press in May 2016.
