extends ../_pug/projectLayout.pug

block vars
    - project = projects['new_american_landscape']
    - title = project.title

block content-page-info
    h1 New American Landscape
    p A survey of contemporary social and cultural landscapes. The images examine American life, environments, and the individuals that exist in those spaces. In color and composition, the works explore image-making and visual metaphors. #[i New American Landscape] documents realism through tableau-like cinematic images that inhabit the gap between the simulated and real space.
