body, html {
    width: 100%;
    height: 100%;
    background-color: $base-background;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.page-info {
    display: block;
    padding-bottom: $base-padding;
    width: 100%;
    max-width: 700px;

    p {
        font-size: $base-fontSize;
        max-width: $base-art-maxThumbWidth;
    }

    h1 {
        font-size: $base-fontSize-header;
    }
}

.page-content {
    display: block;
    white-space: nowrap;
}

.art-thumb {
    display: inline-block;
    width: auto;
    height: auto;
    padding-right: $base-padding;
}

.art-cover-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.art-cover {
    position: absolute;
    width: inherit;
    height: auto;
    left: 0;
    top: 0;
}
