

$base-background: #F2F2F2;
$base-fontSize: 12px;
$base-fontSize-header: 16px;

$base-screen-sm: 1024px;
$base-padding: 20px;
$base-padding-sm: 15px;

$base-art-maxThumbWidth: 700px;


$topbar-height: 60px;

$sidebar-width: 220px;


@import '_vender/startbootstrap-simple-sidebar';
@import '_partials/base';
