.art-thumb {
    display: inline-block;
    width: auto;
    height: auto;
    padding-right: $base-padding;
}

.art-cover-container {
    position: relative;
    width: 100%;
}

.art-cover-old {
    position: absolute;
    left: 0;
    top: 0;
}
