doctype html
html
	block vars
	head
		title Sarah Meftah - #{title}
		
		
		//- CSS
		link(type='text/css' rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(type='text/css' rel='stylesheet' href='/css/main.css')
		block localCSS
	
	
	body
		#wrapper
			#topbar-wrapper
				span.topbar-brand: a(href="/index.html") Sarah Meftah
				button.btn(type='button' aria-label='Menu')
					span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
			#sidebar-wrapper
				ul.sidebar-nav
					li.divider: span Projects
					li: a(href='/projects/newAmericanLandscape.html') New American Landscape
					li: a(href='/projects/year2000.html') Year 2000
					//- li: a(href='/projects/sheisfelt.html') She Isfelt
					//- li: a(href='/projects/boys.html') Boys
					//- li: a(href='/projects/california.html') California
					
					li.divider: span Info
					li: a(href='/info/bio.html') Bio
					li: a(href='/info/contact.html') Contact
						
		
			#page-content-wrapper.container-fluid
				block content
			
		
		
		//- JAVASCRIPT
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/js/main.js')
		block localJS
			