doctype html
html
    block vars
    head
        
        //- Favicon
        <link rel="apple-touch-icon" sizes="57x57" href="/res/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/res/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/res/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/res/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/res/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/res/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/res/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/res/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/res/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/res/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/res/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/res/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/res/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/res/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/res/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        //- Mobile
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        //- Link thumb
        meta(property='og:title' content='Sarah Meftah')
        meta(property='og:image' content='http://sarahmeftah.github.com/res/img/linkPreview.jpg')
        meta(property='og:url' content='http://sarahmeftah.com')
        
        
        
        title Sarah Meftah - #{title}
        
        
        //- CSS
        link(type='text/css' rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(type='text/css' rel='stylesheet' href='/res/css/main.css')
        block localCSS
    
    
    body
        #wrapper
            #topbar-wrapper
                span.topbar-brand: a(href="/index.html") Sarah Meftah
                button.btn(type='button' aria-label='Menu')
                    span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
            #sidebar-wrapper
                ul.sidebar-nav
                    li.divider: span Projects
                    li: a(href='/projects/newAmericanLandscape.html') New American Landscape
                    li: a(href='/projects/year2000.html') Year 2000
                    
                    li.divider: span Info
                    li: a(href='/info/bio.html') Bio
                    li: a(href='/info/contact.html') Contact

            #page-content-wrapper.container-fluid
                block content

        //- JAVASCRIPT
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/res/js/main.min.js')
        block localJS
