doctype html
html
	block vars
	head
		title Sarah Meftah - #{title}
		
		
		//- CSS
		link(type='text/css' rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(type='text/css' rel='stylesheet' href='/css/main.css')
		block localCSS
	
	
	body
		#wrapper
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand: a(href="/index.html") SARAH MEFTAH
					
					li.divider: span PROJECTS
					li: a(href='/projects/newAmericanLandscape.html') NEW AMERICAN LANDSCAPE
					li: a(href='/projects/year2000.html') YEAR 2000
					li: a(href='/projects/sheisfelt.html') SHE ISFELT
					li: a(href='/projects/boys.html') BOYS
					li: a(href='/projects/california.html') CALIFORNIA
					
					li.divider: span INFO
					li: a(href='/info/bio.html') BIO
					li: a(href='/info/contact.html') CONTACT
						
		
			#page-content-wrapper
				#content.container-fluid
					block content
			
		
		
		//- JAVASCRIPT
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/js/main.js')
		block localJS
			